.cardContainer {
    margin-bottom: 30px;
}

    .cardContainer .cardHeader {
        display: flex;
    }

        .cardContainer .cardHeader .insightTimestamp {
            margin-left: 80px;
        }