.insightDetailsContainer {
    margin-top: 17px;
    margin-left: 80px;
    width: 100%;
    align-self: flex-start;
    font-family: "Segoe UI";

    .insightTitle {
        font-size: 40px;
    }

    .insightSummaryTitle {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 600;
    }

    .insightSummaryDetails {
        font-size: 18px;

        .propertyRow {
            margin-bottom: 5px;
        }
    }
}