<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The authorization authority used for multi-tenant applications authorizations. -->
    <add key="CommonAuthority" value="https://login.microsoftonline.com/common" />
    <!-- The resource ID used for authentication requests. -->
    <add key="ResourceId" value="https://management.azure.com/" />
    <!-- The client ID for the emulator's application - this is registered with Azure, so changing it will break all authentications. -->
    <add key="ClientId" value="7696b566-f71e-450a-8681-3b43cec4bef4" />
    <!-- The redirect URI registered in Azure for the emulator's application - changing it will break all authentications. -->
    <add key="RedirectUri" value="https://azuresmartsignals.microsoft.com" />
    <!-- Auth extra query parameters to send to AAD for acquiring user tokens. -->
    <add key="AuthExtraQueryParameters" value="prompt=consent" />
    <!-- The format for creating Application Insights endpoint URI. -->
    <add key="ApplicationInsightsQueryUriFormat" value="https://api.applicationinsights.io/v1/apps/{0}/query" />
    <!-- The format for creating Log Analytics endpoint URI. -->
    <add key="LogAnalyticsQueryUriFormat" value="https://api.loganalytics.io/v1/workspaces/{0}/query" />
    <!-- The format for creating resource-centric Log Analytics endpoint URI. -->
    <add key="LogAnalyticsQueryUriFormat" value="https://api.loganalytics.io/v1{0}/query" />
    <!-- The URI of the resource manager. -->
    <add key="ResourceManagerBaseUri" value="https://management.azure.com/" />
    <!-- The enpoint of Log Analytics portal. -->
    <add key="LogAnalyticsPortalEndpoint" value="portal.loganalytics.io" />
    <!-- The enpoint of Application Insights portal. -->
    <add key="ApplicationInsightsPortalEndpoint" value="analytics.applicationinsights.io" />
  </appSettings>
</configuration>
